body { 
	background: #e7f2ff; 
	margin: 0; 
	padding: 0;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
}

.selects {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0.5rem;
}

.tag { 
	text-align: center; 
	margin-top: 0.5rem; 
	margin-bottom: 0.5rem; 
}

#terminal {
	display: flex;
	flex-direction: column;
	width: 65%;
	min-height: 20rem;
	margin: auto;
	background: #2e2e2e;
}

#terminal-header {
	width: 100%;
	height: 1.5rem;
	background: #00b69a;
}

#terminal-message {
	margin-left: 1rem;
	color: #ffffff;
	padding: 0.5rem 0 0.5rem 0;
}

.terminal-title {
	color: #00b69a;
	margin-left: 1rem;
}

.terminal-values {
	color: #ffffff;
	margin-left: 2rem;
}

#terminal-body {
	overflow-y: auto;
	height: 20rem;
	padding-bottom: 1rem;
}

.error {
	color: red;
	margin-left: 1rem;
}

#details {
	height: 100vh;
	background: #eee;
	padding: 2rem;
}